<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Hemos modificado la página de About con el último commit. Acabamos de modificar una vez más
    </p>
  </div>
</section>
