<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Hemos modificado la página de About con el último commit. Con este último cambio pasamos la fase final
    </p>
  </div>
</section>
