<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicaci칩n Notas en Nodejs y MongoDB!</h1>
  <p class="lead">Una aplicacion simple basada Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
  <p>Registrese por favor con un usuario mediante el bot칩n de Register. Haga Login y cree sus propias notas. Se guardar치n y estar치n disponibles para usted
  </p>
  <a class="btn btn-primary btn-lg" href="http://www.prosol.com" role="button">Prosol</a>
</div>
