<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicación Notas en Nodejs y MongoDB!</h1>
  <p class="lead">Una aplicacion simple basada Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
  <p>Simplemente registrese con un usuario y despues haga Login. Una vez hecho, cree sus propias notas. Se guardarán y estarán disponibles para usted
  </p>
  <a class="btn btn-primary btn-lg" href="http://www.prosol.com" role="button">Prosol</a>
</div>
