<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicaci칩n Notas en Nodejs y MongoDB!</h1>
  <p class="lead">Una aplicacion simple basada Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
  <p>Registrese por favor con su usuario mediante el bot칩n Register. 
    Haga Login y cree sus propias notas. 
    Se guardar치n y estar치n disponibles para cuando usted lo necesite.
  </p>
  <a class="btn btn-primary btn-lg" href="http://www.prosol.com" role="button">Prosol</a>
</div>
